{"openapi": "3.0.0", "info": {"title": "Steam API", "description": "API для работы с Steam", "version": "1.0.0"}, "servers": [{"url": "https://api.steampowered.com"}, {"url": "https://partner.steam-api.com"}], "paths": {"/IAccountLinkingService/GetLinkedAccountInfo/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "account_type", "in": "query", "description": "", "required": false, "schema": {"format": "EInternalAccountType"}}, {"name": "account_id", "in": "query", "description": "Internal account ID", "required": false, "schema": {"format": "uint64"}}, {"name": "filter", "in": "query", "description": "if specified then only return this external account type", "required": false, "schema": {"format": "EExternalAccountType"}}, {"name": "return_access_token", "in": "query", "description": "if provided and true, then returns valid access token if available. It may refresh the token.", "required": false, "schema": {"format": "bool"}}], "description": "List all my active linked external accounts; may be requested to return the access token", "tags": ["IAccountLinkingService"]}}, "/IAccountPrivateAppsService/GetPrivateAppList/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}], "description": "Описание не приведено", "tags": ["IAccountPrivateAppsService"]}}, "/IAccountPrivateAppsService/ToggleAppPrivacy/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "", "required": false, "schema": {"format": "int32"}}, {"name": "private", "in": "query", "description": "", "required": false, "schema": {"format": "bool"}}], "description": "Описание не приведено", "tags": ["IAccountPrivateAppsService"]}}, "/IAuctionService/CancelBid/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "auctiondescriptionid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["IAuctionService"]}}, "/IAuctionService/GetBidsForItem/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "auctiondescriptionid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["IAuctionService"]}}, "/IAuctionService/GetBidsForUser/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "fixed64"}}], "description": "Описание не приведено", "tags": ["IAuctionService"]}}, "/IAuctionService/GetItemDetails/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "auctiondescriptionid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["IAuctionService"]}}, "/IAuctionService/GetUserBidForItem/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "auctiondescriptionid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["IAuctionService"]}}, "/IAuctionService/PlaceBid/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "auctiondescriptionid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "amount_bid", "in": "query", "description": "", "required": false, "schema": {"format": "int64"}}, {"name": "expected_amount_remaining", "in": "query", "description": "", "required": false, "schema": {"format": "int32"}}], "description": "Описание не приведено", "tags": ["IAuctionService"]}}, "/IAuthenticationService/BeginAuthSessionViaCredentials/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "device_friendly_name", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "string"}}, {"name": "account_name", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "string"}}, {"name": "encrypted_password", "in": "query", "description": "password, RSA encrypted client side", "required": true, "schema": {"format": "string"}}, {"name": "encryption_timestamp", "in": "query", "description": "timestamp to map to a key - STime", "required": true, "schema": {"format": "uint64"}}, {"name": "remember_login", "in": "query", "description": "deprecated", "required": true, "schema": {"format": "bool"}}, {"name": "platform_type", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "{enum}"}}, {"name": "persistence", "in": "query", "description": "whether we are requesting a persistent or an ephemeral session", "required": false, "schema": {"format": "{enum}"}}, {"name": "website_id", "in": "query", "description": "(EMachineAuthWebDomain) identifier of client requesting auth", "required": false, "schema": {"format": "string"}}, {"name": "device_details", "in": "query", "description": "User-supplied details about the device attempting to sign in", "required": true, "schema": {"format": "{message}"}}, {"name": "guard_data", "in": "query", "description": "steam guard data for client login", "required": true, "schema": {"format": "string"}}, {"name": "language", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint32"}}, {"name": "qos_level", "in": "query", "description": "[ENetQOSLevel] client-specified priority for this auth attempt", "required": false, "schema": {"format": "int32"}}], "description": "start authentication process", "tags": ["IAuthenticationService"]}}, "/IAuthenticationService/BeginAuthSessionViaQR/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "device_friendly_name", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "string"}}, {"name": "platform_type", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "{enum}"}}, {"name": "device_details", "in": "query", "description": "User-supplied details about the device attempting to sign in", "required": true, "schema": {"format": "{message}"}}, {"name": "website_id", "in": "query", "description": "(EMachineAuthWebDomain) identifier of client requesting auth", "required": false, "schema": {"format": "string"}}], "description": "start authentication process", "tags": ["IAuthenticationService"]}}, "/IAuthenticationService/EnumerateTokens/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}], "description": "Enumerate durable (refresh) tokens for the given subject account", "tags": ["IAuthenticationService"]}}, "/IAuthenticationService/GenerateAccessTokenForApp/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "refresh_token", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "fixed64"}}, {"name": "renewal_type", "in": "query", "description": "", "required": false, "schema": {"format": "ETokenRenewalType"}}], "description": "Given a refresh token for a client app audience (e.g. desktop client / mobile client), generate an access token", "tags": ["IAuthenticationService"]}}, "/IAuthenticationService/GetAuthSessionInfo/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "client_id", "in": "query", "description": "client ID from scanned QR Code, used for routing", "required": true, "schema": {"format": "uint64"}}], "description": "get metadata of specific auth session, this will also implicitly bind the calling account", "tags": ["IAuthenticationService"]}}, "/IAuthenticationService/GetAuthSessionsForAccount/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}], "description": "Gets all active auth sessions for an account for reference by the mobile app", "tags": ["IAuthenticationService"]}}, "/IAuthenticationService/GetPasswordRSAPublicKey/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "account_name", "in": "query", "description": "user-provided account name to get an RSA key for", "required": true, "schema": {"format": "string"}}], "description": "Fetches RSA public key to use to encrypt passwords for a given account name", "tags": ["IAuthenticationService"]}}, "/IAuthenticationService/MigrateMobileSession/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "Steam ID of the user to migrate", "required": false, "schema": {"format": "fixed64"}}, {"name": "token", "in": "query", "description": "WG Token to migrate", "required": false, "schema": {"format": "string"}}, {"name": "signature", "in": "query", "description": "Signature over the wg token using the user's 2FA token", "required": false, "schema": {"format": "string"}}], "description": "Migrates a WG token to an access and refresh token using a signature generated with the user's 2FA secret", "tags": ["IAuthenticationService"]}}, "/IAuthenticationService/PollAuthSessionStatus/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "client_id", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint64"}}, {"name": "request_id", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "string"}}, {"name": "token_to_revoke", "in": "query", "description": "If this is set to a token owned by this user, that token will be retired", "required": true, "schema": {"format": "uint64"}}], "description": "poll during authentication process", "tags": ["IAuthenticationService"]}}, "/IAuthenticationService/RevokeRefreshToken/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "token_id", "in": "query", "description": "", "required": false, "schema": {"format": "fixed64"}}, {"name": "steamid", "in": "query", "description": "Token holder if an admin action on behalf of another user", "required": false, "schema": {"format": "fixed64"}}, {"name": "revoke_action", "in": "query", "description": "Select between logout and logout-and-forget-machine", "required": false, "schema": {"format": "EAuthTokenRevokeAction"}}, {"name": "signature", "in": "query", "description": "required signature over token_id", "required": false, "schema": {"format": "bytes"}}], "description": "Mark the given refresh token as revoked", "tags": ["IAuthenticationService"]}}, "/IAuthenticationService/RevokeToken/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "token", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "revoke_action", "in": "query", "description": "Select between logout and logout-and-forget-machine", "required": false, "schema": {"format": "EAuthTokenRevokeAction"}}], "description": "Revoke a single token immediately, making it unable to renew or generate new access tokens", "tags": ["IAuthenticationService"]}}, "/IAuthenticationService/UpdateAuthSessionWithMobileConfirmation/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "version", "in": "query", "description": "version field", "required": true, "schema": {"format": "int32"}}, {"name": "client_id", "in": "query", "description": "pending client ID, from scanned QR Code", "required": true, "schema": {"format": "uint64"}}, {"name": "steamid", "in": "query", "description": "user who wants to login", "required": true, "schema": {"format": "uint64"}}, {"name": "signature", "in": "query", "description": "HMAC digest over {version,client_id,steamid} via user's private key", "required": true, "schema": {"format": "string"}}, {"name": "confirm", "in": "query", "description": "Whether to confirm the login (true) or deny the login (false)", "required": false, "schema": {"format": "bool"}}, {"name": "persistence", "in": "query", "description": "whether we are requesting a persistent or an ephemeral session", "required": false, "schema": {"format": "{enum}"}}], "description": "approve an authentication session via mobile 2fa", "tags": ["IAuthenticationService"]}}, "/IAuthenticationService/UpdateAuthSessionWithSteamGuardCode/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "client_id", "in": "query", "description": "pending client ID, from initialized session", "required": true, "schema": {"format": "uint64"}}, {"name": "steamid", "in": "query", "description": "user who wants to login", "required": true, "schema": {"format": "uint64"}}, {"name": "code", "in": "query", "description": "confirmation code", "required": true, "schema": {"format": "string"}}, {"name": "code_type", "in": "query", "description": "type of confirmation code", "required": true, "schema": {"format": "{enum}"}}], "description": "approve an authentication session via steam guard code", "tags": ["IAuthenticationService"]}}, "/IAuthenticationSupportService/GetTokenHistory/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "token_id", "in": "query", "description": "Token ID of the token to get history for (required)", "required": false, "schema": {"format": "fixed64"}}], "description": "Gets the audit history for a user's auth token", "tags": ["IAuthenticationSupportService"]}}, "/IAuthenticationSupportService/QueryRefreshTokenByID/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "token_id", "in": "query", "description": "Token ID of the token to look up (required)", "required": false, "schema": {"format": "fixed64"}}], "description": "Asks the server for a list of refresh tokens associated with an account", "tags": ["IAuthenticationSupportService"]}}, "/IAuthenticationSupportService/QueryRefreshTokensByAccount/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "SteamID of the account to query (required)", "required": false, "schema": {"format": "fixed64"}}, {"name": "include_revoked_tokens", "in": "query", "description": "Includes tokens that are revoked or expired in the query", "required": false, "schema": {"format": "bool"}}], "description": "Asks the server for a list of refresh tokens associated with an account", "tags": ["IAuthenticationSupportService"]}}, "/IAuthenticationSupportService/RevokeToken/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "token_id", "in": "query", "description": "Token ID of the token to revoke (required)", "required": false, "schema": {"format": "fixed64"}}, {"name": "steamid", "in": "query", "description": "Steam ID of the owner of that token (required)", "required": false, "schema": {"format": "fixed64"}}], "description": "Revokes a user's auth token", "tags": ["IAuthenticationSupportService"]}}, "/IBroadcastService/GetBroadcastUploadStats/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "row_limit", "in": "query", "description": "How many at maximum to return.", "required": false, "schema": {"format": "uint32"}}, {"name": "start_time", "in": "query", "description": "Start time", "required": false, "schema": {"format": "uint32"}}, {"name": "upload_id", "in": "query", "description": "Optional relay upload ID - not compatible with session_id", "required": false, "schema": {"format": "uint64"}}, {"name": "steamid", "in": "query", "description": "Optional the steamid whose stats you want, otherwise the user logged in - admin only", "required": false, "schema": {"format": "fixed64"}}, {"name": "session_id", "in": "query", "description": "Optional broadcast session ID - not compatiable with upload_id", "required": false, "schema": {"format": "uint64"}}], "description": "Gets broadcast upload stats for user", "tags": ["IBroadcastService"]}}, "/IBroadcastService/GetBroadcastViewerStats/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "upload_id", "in": "query", "description": "Get stats for this stream", "required": false, "schema": {"format": "uint64"}}, {"name": "steamid", "in": "query", "description": "Optional: The steamid of the broadcast whose details you are requesting.", "required": false, "schema": {"format": "fixed64"}}], "description": "Gets viewer stats for given broadcast", "tags": ["IBroadcastService"]}}, "/IBroadcastService/GetBuildClipStatus/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "broadcast_clip_id", "in": "query", "description": "", "required": false, "schema": {"format": "fixed64"}}], "description": "Start building a broadcast clip", "tags": ["IBroadcastService"]}}, "/IBroadcastService/GetClipDetails/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "broadcast_clip_id", "in": "query", "description": "List of clip IDs we want details for", "required": false, "schema": {"format": "uint64"}}], "description": "Get details for Broadcast Clips", "tags": ["IBroadcastService"]}}, "/IBroadcastService/GetRTMPInfo/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "ip", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "steamid", "in": "query", "description": "broadcaster steamID if not logged-in user", "required": false, "schema": {"format": "fixed64"}}], "description": "Gets RTMP broadcast info", "tags": ["IBroadcastService"]}}, "/IBroadcastService/MuteBroadcastChatUser/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "chat_id", "in": "query", "description": "", "required": false, "schema": {"format": "fixed64"}}, {"name": "user_steamid", "in": "query", "description": "", "required": false, "schema": {"format": "fixed64"}}, {"name": "muted", "in": "query", "description": "", "required": false, "schema": {"format": "bool"}}], "description": "Mute a user in your broadcast chat", "tags": ["IBroadcastService"]}}, "/IBroadcastService/PostChatMessage/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "chat_id", "in": "query", "description": "", "required": false, "schema": {"format": "fixed64"}}, {"name": "message", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "instance_id", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "language", "in": "query", "description": "ELanguage of the user posting the message, default is english", "required": false, "schema": {"format": "ELanguage"}}, {"name": "country_code", "in": "query", "description": "The two letter country code", "required": false, "schema": {"format": "string"}}], "description": "Post chat message to specified chat room", "tags": ["IBroadcastService"]}}, "/IBroadcastService/PostGameDataFrame/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint32"}}, {"name": "steamid", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint64"}}, {"name": "broadcast_id", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint64"}}, {"name": "frame_data", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "string"}}], "description": "Add a game meta data frame to broadcast", "tags": ["IBroadcastService"]}}, "/IBroadcastService/PostGameDataFrameRTMP/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "appid", "in": "query", "description": "AppID of the game being broadcasted", "required": true, "schema": {"format": "uint32"}}, {"name": "steamid", "in": "query", "description": "Broadcasters SteamID", "required": true, "schema": {"format": "uint64"}}, {"name": "rtmp_token", "in": "query", "description": "Valid RTMP token for the Broadcaster", "required": true, "schema": {"format": "string"}}, {"name": "frame_data", "in": "query", "description": "game data frame expressing current state of game (string, zipped, whatever)", "required": true, "schema": {"format": "string"}}], "description": "Add a game meta data frame to broadcast from a client. Uses RTMP token for validation", "tags": ["IBroadcastService"]}}, "/IBroadcastService/RemoveUserChatText/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "chat_id", "in": "query", "description": "", "required": false, "schema": {"format": "fixed64"}}, {"name": "user_steamid", "in": "query", "description": "", "required": false, "schema": {"format": "fixed64"}}], "description": "Tell all viewers to remove user chat text", "tags": ["IBroadcastService"]}}, "/IBroadcastService/SetClipDetails/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "broadcast_clip_id", "in": "query", "description": "Clip ID", "required": false, "schema": {"format": "uint64"}}, {"name": "start_time", "in": "query", "description": "start time of the clip", "required": false, "schema": {"format": "uint32"}}, {"name": "end_time", "in": "query", "description": "end time of the clip", "required": false, "schema": {"format": "uint32"}}, {"name": "video_description", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}], "description": "Updates a broadcast clip", "tags": ["IBroadcastService"]}}, "/IBroadcastService/SetRTMPInfo/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "broadcast_permission", "in": "query", "description": "", "required": false, "schema": {"format": "int32"}}, {"name": "update_token", "in": "query", "description": "", "required": false, "schema": {"format": "bool"}}, {"name": "broadcast_delay", "in": "query", "description": "", "required": false, "schema": {"format": "int32"}}, {"name": "app_id", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "required_app_id", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "broadcast_chat_permission", "in": "query", "description": "Who is permitted to send a chat message during broadcast", "required": false, "schema": {"format": "EBroadcastChatPermission"}}, {"name": "broadcast_buffer", "in": "query", "description": "Previous seconds we keep of the stream available", "required": false, "schema": {"format": "int32"}}, {"name": "steamid", "in": "query", "description": "broadcaster steamID if not logged-in user", "required": false, "schema": {"format": "fixed64"}}, {"name": "chat_rate_limit", "in": "query", "description": "Seconds required between chat messages", "required": false, "schema": {"format": "uint32"}}, {"name": "enable_replay", "in": "query", "description": "Enable replay of last upload", "required": false, "schema": {"format": "bool"}}, {"name": "is_partner_chat_only", "in": "query", "description": "When true, then only steamwork partner can create chat messages.", "required": false, "schema": {"format": "bool"}}, {"name": "wordban_list", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}], "description": "Sets RTMP broadcast info", "tags": ["IBroadcastService"]}}, "/IBroadcastService/StartBuildClip/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "fixed64"}}, {"name": "broadcast_session_id", "in": "query", "description": "", "required": false, "schema": {"format": "fixed64"}}, {"name": "first_segment", "in": "query", "description": "", "required": false, "schema": {"format": "int32"}}, {"name": "num_segments", "in": "query", "description": "", "required": false, "schema": {"format": "int32"}}, {"name": "clip_description", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}], "description": "Start building a broadcast clip", "tags": ["IBroadcastService"]}}, "/IBroadcastService/UpdateChatMessageFlair/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "chat_id", "in": "query", "description": "", "required": false, "schema": {"format": "fixed64"}}, {"name": "flair", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}], "description": "Update chat message flair in the specified chat room", "tags": ["IBroadcastService"]}}, "/ICSGOPlayers_730/GetNextMatchSharingCode/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "steamid", "in": "query", "description": "The SteamID of the user", "required": true, "schema": {"format": "uint64"}}, {"name": "steamidkey", "in": "query", "description": "Authentication obtained from the SteamID", "required": true, "schema": {"format": "string"}}, {"name": "knowncode", "in": "query", "description": "Previously known match sharing code obtained from the SteamID", "required": true, "schema": {"format": "string"}}], "description": "Описание не приведено", "tags": ["ICSGOPlayers_730"]}}, "/ICSGOPlayers_730/GetPlayerProfile/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [], "description": "Описание не приведено", "tags": ["ICSGOPlayers_730"]}}, "/ICSGOPlayers_730/GetPlayerProfileCoin/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "steamid", "in": "query", "description": "The steam ID", "required": true, "schema": {"format": "uint64"}}, {"name": "coin", "in": "query", "description": "The coin", "required": true, "schema": {"format": "string"}}], "description": "Описание не приведено", "tags": ["ICSGOPlayers_730"]}}, "/ICSGOServers_730/GetGameMapsPlaytime/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "interval", "in": "query", "description": "What recent interval is requested, possible values: day, week, month", "required": true, "schema": {"format": "string"}}, {"name": "gamemode", "in": "query", "description": "What game mode is requested, possible values: competitive, casual", "required": true, "schema": {"format": "string"}}, {"name": "mapgroup", "in": "query", "description": "What maps are requested, possible values: operation", "required": true, "schema": {"format": "string"}}], "description": "Описание не приведено", "tags": ["ICSGOServers_730"]}}, "/ICSGOServers_730/GetGameServersStatus/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [], "description": "Описание не приведено", "tags": ["ICSGOServers_730"]}}, "/ICSGOServers_730/GetLeaderboardEntries/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [], "description": "Описание не приведено", "tags": ["ICSGOServers_730"]}}, "/ICSGOServers_730/GetMonthlyPlayerCount/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [], "description": "Описание не приведено", "tags": ["ICSGOServers_730"]}}, "/ICSGOStreamSystem_730/GetMatchScoreboard/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [], "description": "Описание не приведено", "tags": ["ICSGOStreamSystem_730"]}}, "/ICSGOStreamSystem_730/ListOfUsersSpectating/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [], "description": "Описание не приведено", "tags": ["ICSGOStreamSystem_730"]}}, "/ICSGOTournaments_730/ClaimBadgeReward/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [], "description": "Описание не приведено", "tags": ["ICSGOTournaments_730"]}}, "/ICSGOTournaments_730/GetTournamentFantasyLineup/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "event", "in": "query", "description": "The event ID", "required": true, "schema": {"format": "uint32"}}, {"name": "steamid", "in": "query", "description": "The SteamID of the user inventory", "required": true, "schema": {"format": "uint64"}}, {"name": "steamidkey", "in": "query", "description": "Authentication obtained from the SteamID", "required": true, "schema": {"format": "string"}}], "description": "Описание не приведено", "tags": ["ICSGOTournaments_730"]}}, "/ICSGOTournaments_730/GetTournamentItems/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "event", "in": "query", "description": "The event ID", "required": true, "schema": {"format": "uint32"}}, {"name": "steamid", "in": "query", "description": "The SteamID of the user inventory", "required": true, "schema": {"format": "uint64"}}, {"name": "steamidkey", "in": "query", "description": "Authentication obtained from the SteamID", "required": true, "schema": {"format": "string"}}], "description": "Описание не приведено", "tags": ["ICSGOTournaments_730"]}}, "/ICSGOTournaments_730/GetTournamentLayout/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "event", "in": "query", "description": "The event ID", "required": true, "schema": {"format": "uint32"}}], "description": "Описание не приведено", "tags": ["ICSGOTournaments_730"]}}, "/ICSGOTournaments_730/GetTournamentPredictions/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "event", "in": "query", "description": "The event ID", "required": true, "schema": {"format": "uint32"}}, {"name": "steamid", "in": "query", "description": "The SteamID of the user inventory", "required": true, "schema": {"format": "uint64"}}, {"name": "steamidkey", "in": "query", "description": "Authentication obtained from the SteamID", "required": true, "schema": {"format": "string"}}], "description": "Описание не приведено", "tags": ["ICSGOTournaments_730"]}}, "/ICSGOTournaments_730/UploadTournamentFantasyLineup/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "event", "in": "query", "description": "The event ID", "required": true, "schema": {"format": "uint32"}}, {"name": "steamid", "in": "query", "description": "The SteamID of the user inventory", "required": true, "schema": {"format": "uint64"}}, {"name": "steamidkey", "in": "query", "description": "Authentication obtained from the SteamID", "required": true, "schema": {"format": "string"}}, {"name": "sectionid", "in": "query", "description": "Event section id", "required": true, "schema": {"format": "uint32"}}, {"name": "pickid0", "in": "query", "description": "PickID to select for the slot", "required": true, "schema": {"format": "uint32"}}, {"name": "itemid0", "in": "query", "description": "ItemID to lock in for the pick", "required": true, "schema": {"format": "uint64"}}, {"name": "pickid1", "in": "query", "description": "PickID to select for the slot", "required": true, "schema": {"format": "uint32"}}, {"name": "itemid1", "in": "query", "description": "ItemID to lock in for the pick", "required": true, "schema": {"format": "uint64"}}, {"name": "pickid2", "in": "query", "description": "PickID to select for the slot", "required": true, "schema": {"format": "uint32"}}, {"name": "itemid2", "in": "query", "description": "ItemID to lock in for the pick", "required": true, "schema": {"format": "uint64"}}, {"name": "pickid3", "in": "query", "description": "PickID to select for the slot", "required": true, "schema": {"format": "uint32"}}, {"name": "itemid3", "in": "query", "description": "ItemID to lock in for the pick", "required": true, "schema": {"format": "uint64"}}, {"name": "pickid4", "in": "query", "description": "PickID to select for the slot", "required": true, "schema": {"format": "uint32"}}, {"name": "itemid4", "in": "query", "description": "ItemID to lock in for the pick", "required": true, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["ICSGOTournaments_730"]}}, "/ICSGOTournaments_730/UploadTournamentPredictions/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "event", "in": "query", "description": "The event ID", "required": true, "schema": {"format": "uint32"}}, {"name": "steamid", "in": "query", "description": "The SteamID of the user inventory", "required": true, "schema": {"format": "uint64"}}, {"name": "steamidkey", "in": "query", "description": "Authentication obtained from the SteamID", "required": true, "schema": {"format": "string"}}, {"name": "sectionid", "in": "query", "description": "Event section id", "required": true, "schema": {"format": "uint32"}}, {"name": "groupid", "in": "query", "description": "Event group id", "required": true, "schema": {"format": "uint32"}}, {"name": "index", "in": "query", "description": "Index in group", "required": true, "schema": {"format": "uint32"}}, {"name": "pickid", "in": "query", "description": "Pick ID to select", "required": true, "schema": {"format": "uint32"}}, {"name": "itemid", "in": "query", "description": "ItemID to lock in for the pick", "required": true, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["ICSGOTournaments_730"]}}, "/IChatRoomService/AppAddUsersToGroup/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "chat_group_id", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint64"}}, {"name": "steamids", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint64"}}, {"name": "appid", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint32"}}, {"name": "suppress_log_messages", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "bool"}}], "description": "App invite player(s) to a chat room that it controls, or just extend invite(s)", "tags": ["IChatRoomService"]}}, "/IChatRoomService/AppPostSystemMessageToGroup/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint32"}}, {"name": "chat_group_id", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint64"}}, {"name": "message", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "string"}}, {"name": "loc_token", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "string"}}, {"name": "params", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "{message}"}}], "description": "App invite a player to a chat room that it controls, or just extend an invite", "tags": ["IChatRoomService"]}}, "/IChatRoomService/AppRemoveUsersFromGroup/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "chat_group_id", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint64"}}, {"name": "steamid_targets", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint64"}}, {"name": "kick_expiration", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "int32"}}, {"name": "appid", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint32"}}, {"name": "steamid_kick_actor", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint64"}}, {"name": "suppress_log_messages", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "bool"}}], "description": "App remove player(s) from a chat room that it controls", "tags": ["IChatRoomService"]}}, "/IChatRoomService/CreateAppChatRoomGroup/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid_owner", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint64"}}, {"name": "appid", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint32"}}, {"name": "name", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "string"}}, {"name": "room_type", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint32"}}], "description": "App creating a chat room and inviting players to it", "tags": ["IChatRoomService"]}}, "/IChatRoomService/SetAppChatRoomConfig/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "chat_group_id", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint64"}}, {"name": "appid", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint32"}}, {"name": "name", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "string"}}, {"name": "avatar_ugc_id", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "uint64"}}, {"name": "allow_user_invites", "in": "query", "description": "Описание не приведено", "required": true, "schema": {"format": "bool"}}], "description": "Update the display and rules properties for an app-created chat room", "tags": ["IChatRoomService"]}}, "/ICheatReportingService/EndSecureMultiplayerSession/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "steamid of the user.", "required": true, "schema": {"format": "uint64"}}, {"name": "appid", "in": "query", "description": "The appid the user is playing.", "required": true, "schema": {"format": "uint32"}}, {"name": "session_id", "in": "query", "description": "session id", "required": true, "schema": {"format": "uint64"}}], "description": "Tell the VAC servers that a secure multiplayer session has ended.", "tags": ["ICheatReportingService"]}}, "/ICheatReportingService/GetCheatingReports/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "The appid.", "required": true, "schema": {"format": "uint32"}}, {"name": "timeend", "in": "query", "description": "The beginning of the time range .", "required": true, "schema": {"format": "uint32"}}, {"name": "timebegin", "in": "query", "description": "The end of the time range.", "required": true, "schema": {"format": "uint32"}}, {"name": "reportidmin", "in": "query", "description": "Minimum reportID to include", "required": true, "schema": {"format": "uint64"}}, {"name": "includereports", "in": "query", "description": "Include reports.", "required": false, "schema": {"format": "bool"}}, {"name": "includebans", "in": "query", "description": "Include ban requests.", "required": false, "schema": {"format": "bool"}}, {"name": "steamid", "in": "query", "description": "Query just for this steamid.", "required": false, "schema": {"format": "uint64"}}], "description": "Get a list of cheating reports submitted for this app", "tags": ["ICheatReportingService"]}}, "/ICheatReportingService/RemovePlayerGameBan/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "steamid of the user who is reported as cheating.", "required": true, "schema": {"format": "uint64"}}, {"name": "appid", "in": "query", "description": "The appid.", "required": true, "schema": {"format": "uint32"}}], "description": "Remove a ban on a player", "tags": ["ICheatReportingService"]}}, "/ICheatReportingService/ReportCheatData/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "steamid of the user running and reporting the cheat.", "required": true, "schema": {"format": "uint64"}}, {"name": "appid", "in": "query", "description": "The appid.", "required": true, "schema": {"format": "uint32"}}, {"name": "pathandfilename", "in": "query", "description": "path and file name of the cheat executable.", "required": true, "schema": {"format": "string"}}, {"name": "webcheaturl", "in": "query", "description": "web url where the cheat was found and downloaded.", "required": true, "schema": {"format": "string"}}, {"name": "time_now", "in": "query", "description": "local system time now.", "required": true, "schema": {"format": "uint64"}}, {"name": "time_started", "in": "query", "description": "local system time when cheat process started. ( 0 if not yet run )", "required": true, "schema": {"format": "uint64"}}, {"name": "time_stopped", "in": "query", "description": "local system time when cheat process stopped. ( 0 if still running )", "required": true, "schema": {"format": "uint64"}}, {"name": "cheatname", "in": "query", "description": "descriptive name for the cheat.", "required": true, "schema": {"format": "string"}}, {"name": "game_process_id", "in": "query", "description": "process ID of the running game.", "required": true, "schema": {"format": "uint32"}}, {"name": "cheat_process_id", "in": "query", "description": "process ID of the cheat process that ran", "required": true, "schema": {"format": "uint32"}}, {"name": "cheat_param_1", "in": "query", "description": "cheat param 1", "required": true, "schema": {"format": "uint64"}}, {"name": "cheat_param_2", "in": "query", "description": "cheat param 2", "required": true, "schema": {"format": "uint64"}}, {"name": "cheat_data_dump", "in": "query", "description": "data collection in json format", "required": true, "schema": {"format": "string"}}], "description": "Reports cheat data. Only use on test account that is running the game but not in a multiplayer session.", "tags": ["ICheatReportingService"]}}, "/ICheatReportingService/ReportPlayerCheating/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "steamid of the user who is reported as cheating.", "required": true, "schema": {"format": "uint64"}}, {"name": "appid", "in": "query", "description": "The appid.", "required": true, "schema": {"format": "uint32"}}, {"name": "steamidreporter", "in": "query", "description": "steamid of the user or game server who is reporting the cheating.", "required": false, "schema": {"format": "uint64"}}, {"name": "appdata", "in": "query", "description": "App specific data about the cheating.", "required": false, "schema": {"format": "uint64"}}, {"name": "heuristic", "in": "query", "description": "extra information about the source of the cheating - was it a heuristic.", "required": false, "schema": {"format": "bool"}}, {"name": "detection", "in": "query", "description": "extra information about the source of the cheating - was it a detection.", "required": false, "schema": {"format": "bool"}}, {"name": "playerreport", "in": "query", "description": "extra information about the source of the cheating - was it a player report.", "required": false, "schema": {"format": "bool"}}, {"name": "noreportid", "in": "query", "description": "dont return report id", "required": false, "schema": {"format": "bool"}}, {"name": "gamemode", "in": "query", "description": "extra information about state of game - was it a specific type of game play (0 = generic)", "required": false, "schema": {"format": "uint32"}}, {"name": "suspicionstarttime", "in": "query", "description": "extra information indicating how far back the game thinks is interesting for this user", "required": false, "schema": {"format": "uint32"}}, {"name": "severity", "in": "query", "description": "level of severity of bad action being reported", "required": false, "schema": {"format": "uint32"}}, {"name": "matchid", "in": "query", "description": "matchid to identify the game instance", "required": false, "schema": {"format": "uint64"}}, {"name": "cheating_type", "in": "query", "description": "app specific data about the type of cheating", "required": false, "schema": {"format": "uint64"}}, {"name": "appdata2", "in": "query", "description": "App specific data about the cheating.", "required": false, "schema": {"format": "uint64"}}, {"name": "infraction_time", "in": "query", "description": "Time when the cheating occured", "required": false, "schema": {"format": "uint32"}}, {"name": "raw_report", "in": "query", "description": "Raw report data", "required": false, "schema": {"format": "string"}}], "description": "Reports a player cheating", "tags": ["ICheatReportingService"]}}, "/ICheatReportingService/RequestPlayerGameBan/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "steamid of the user who is reported as cheating.", "required": true, "schema": {"format": "uint64"}}, {"name": "appid", "in": "query", "description": "The appid.", "required": true, "schema": {"format": "uint32"}}, {"name": "reportid", "in": "query", "description": "The reportid originally used to report cheating.", "required": true, "schema": {"format": "uint64"}}, {"name": "cheatdescription", "in": "query", "description": "Text describing cheating infraction.", "required": true, "schema": {"format": "string"}}, {"name": "duration", "in": "query", "description": "Ban duration requested in seconds.", "required": true, "schema": {"format": "uint32"}}, {"name": "delayban", "in": "query", "description": "Delay the ban according to default ban delay rules.", "required": true, "schema": {"format": "bool"}}, {"name": "flags", "in": "query", "description": "Additional information about the ban request.", "required": true, "schema": {"format": "uint32"}}, {"name": "invisible_ban", "in": "query", "description": "The ban will be recorded but not be visible or deny access to secure servers.", "required": true, "schema": {"format": "bool"}}], "description": "Requests a ban on a player", "tags": ["ICheatReportingService"]}}, "/ICheatReportingService/RequestVacStatusForUser/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "steamid of the user.", "required": true, "schema": {"format": "uint64"}}, {"name": "appid", "in": "query", "description": "The appid the user is playing.", "required": true, "schema": {"format": "uint32"}}, {"name": "session_id", "in": "query", "description": "session id", "required": true, "schema": {"format": "uint64"}}, {"name": "session_flags", "in": "query", "description": "session flags", "required": true, "schema": {"format": "uint32"}}], "description": "Checks a user's VAC session status. If verification fails, then do not let the user matchmake into a secure game.", "tags": ["ICheatReportingService"]}}, "/ICheatReportingService/StartSecureMultiplayerSession/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "steamid of the user.", "required": true, "schema": {"format": "uint64"}}, {"name": "appid", "in": "query", "description": "The appid the user is playing.", "required": true, "schema": {"format": "uint32"}}], "description": "Tell the VAC servers that a secure multiplayer session has started", "tags": ["ICheatReportingService"]}}, "/IClanFAQSService/CheckFAQPermissions/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "fixed64"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanFAQSService/Create/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "internal_name", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "json_data", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanFAQSService/Delete/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "faq_id", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanFAQSService/GetAllDrafts/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "faq_id", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanFAQSService/GetAllFAQsForClan/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanFAQSService/GetAllLatestVersionPublishedFAQS/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "faq_id", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanFAQSService/GetFAQ/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "faq_id", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "language", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanFAQSService/GetFAQVersion/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "faq_id", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "language", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "version", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanFAQSService/PreviewDraft/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "faq_id", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "language", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanFAQSService/PublishDraft/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "faq_id", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "language[0]", "in": "query", "description": "", "required": false, "schema": {"format": "ELanguage[]"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanFAQSService/SearchFAQs/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "search_text", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "elanguages[0]", "in": "query", "description": "", "required": false, "schema": {"format": "int32[]"}}, {"name": "count", "in": "query", "description": "", "required": false, "schema": {"format": "int32"}}, {"name": "cursor", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "filter_clanids[0]", "in": "query", "description": "", "required": false, "schema": {"format": "uint32[]"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanFAQSService/SetVisibility/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "faq_id", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "visible_in_global_realm", "in": "query", "description": "", "required": false, "schema": {"format": "bool"}}, {"name": "visible_in_china_realm", "in": "query", "description": "", "required": false, "schema": {"format": "bool"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanFAQSService/UpdateDraft/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "faq_id", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "language", "in": "query", "description": "", "required": false, "schema": {"format": "ELanguage"}}, {"name": "content", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "title", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanFAQSService/UpdateInternalName/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "faq_id", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "internal_name", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanFAQSService/UpdateJsonData/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "faq_id", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "json_data", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}], "description": "Описание не приведено", "tags": ["IClanFAQSService"]}}, "/IClanService/GetAdjacentPartnerEvents/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [], "description": "Описание не приведено", "tags": ["IClanService"]}}, "/IClanService/GetPartnerEventsByBuildIDRange/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "requests", "in": "query", "description": "", "required": false, "schema": {"format": "CClan_GetPartnerEventsByBuildIDRange_Request_PatchNoteRange"}}, {"name": "cursor", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "count", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}], "description": "Описание не приведено", "tags": ["IClanService"]}}, "/IClanService/GetSinglePartnerEvent/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [], "description": "Описание не приведено", "tags": ["IClanService"]}}, "/IClientCommService/EnableOrDisableDownloads/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "client_instanceid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "enable", "in": "query", "description": "", "required": false, "schema": {"format": "bool"}}], "description": "Описание не приведено", "tags": ["IClientCommService"]}}, "/IClientCommService/GetAllClientLogonInfo/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}], "description": "Описание не приведено", "tags": ["IClientCommService"]}}, "/IClientCommService/GetClientAppList/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "fields", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "filters", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "client_instanceid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}, {"name": "include_client_info", "in": "query", "description": "", "required": false, "schema": {"format": "bool"}}, {"name": "language", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}], "description": "Описание не приведено", "tags": ["IClientCommService"]}}, "/IClientCommService/GetClientInfo/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "client_instanceid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["IClientCommService"]}}, "/IClientCommService/GetClientLogonInfo/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "client_instanceid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["IClientCommService"]}}, "/IClientCommService/InstallClientApp/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "client_instanceid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["IClientCommService"]}}, "/IClientCommService/SetClientAppUpdateState/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "action", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "client_instanceid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["IClientCommService"]}}, "/IClientCommService/UninstallClientApp/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "client_instanceid", "in": "query", "description": "", "required": false, "schema": {"format": "uint64"}}], "description": "Описание не приведено", "tags": ["IClientCommService"]}}, "/IClientMetricsService/ReportClientError/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "product", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "version", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "errors", "in": "query", "description": "", "required": false, "schema": {"format": "CClientMetrics_ReportClientError_Notification.Error"}}], "description": "Описание не приведено", "tags": ["IClientMetricsService"]}}, "/IClientMetricsService/ReportReactUsage/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "product", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "version", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "routes", "in": "query", "description": "", "required": false, "schema": {"format": "CClientMetrics_ReportReactUsage_Notification.RouteData"}}, {"name": "components", "in": "query", "description": "", "required": false, "schema": {"format": "CClientMetrics_ReportReactUsage_Notification.ComponentData"}}, {"name": "actions", "in": "query", "description": "", "required": false, "schema": {"format": "CClientMetrics_ReportReactUsage_Notification.ActionData"}}], "description": "Описание не приведено", "tags": ["IClientMetricsService"]}}, "/IClientStats_1024290/ReportEvent/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [], "description": "Описание не приведено", "tags": ["IClientStats_1024290"]}}, "/IClientStats_1046930/ReportEvent/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [], "description": "Описание не приведено", "tags": ["IClientStats_1046930"]}}, "/ICloudService/BeginAppUploadBatch/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "App ID for this batch is for.", "required": false, "schema": {"format": "uint32"}}, {"name": "machine_name", "in": "query", "description": "Client machine name (may be user's alias).", "required": false, "schema": {"format": "string"}}, {"name": "files_to_upload[0]", "in": "query", "description": "Filenames of files to upload in this batch", "required": false, "schema": {"format": "string[]"}}, {"name": "files_to_delete[0]", "in": "query", "description": "Filenames of files to delete in this batch", "required": false, "schema": {"format": "string[]"}}, {"name": "client_id", "in": "query", "description": "Client ID number", "required": false, "schema": {"format": "uint64"}}, {"name": "app_build_id", "in": "query", "description": "Current local build of the app which made these changes", "required": false, "schema": {"format": "uint64"}}, {"name": "access_token", "in": "query", "description": "OAuth access token for the user", "required": true, "schema": {"format": "string"}}, {"name": "files_to_upload", "in": "query", "description": "List of all files to be uploaded (new files or updates for existing files) as part of\n            this batch.", "required": true, "schema": {"format": "string list"}}, {"name": "files_to_delete", "in": "query", "description": "List of all files to be deleted from Steam Cloud as part of this batch.", "required": true, "schema": {"format": "string list"}}], "description": "Indicate a batch of files that will be uploaded / deleted for an app.", "tags": ["ICloudService"]}}, "/ICloudService/BeginHTTPUpload/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "App ID for which the file is being uploaded.", "required": false, "schema": {"format": "uint32"}}, {"name": "file_size", "in": "query", "description": "Original file size in bytes.", "required": false, "schema": {"format": "uint32"}}, {"name": "filename", "in": "query", "description": "Name of the file to store in the cloud.", "required": false, "schema": {"format": "string"}}, {"name": "file_sha", "in": "query", "description": "Hex string (40 digits) representing the SHA1 digest of the file.", "required": false, "schema": {"format": "string"}}, {"name": "is_public", "in": "query", "description": "True if the file should be marked public on the UFS, false otherwise.", "required": false, "schema": {"format": "bool"}}, {"name": "platforms_to_sync[0]", "in": "query", "description": "Array of string specifying which platforms to sync; value values: all, Windows, MacOS, linux, Switch, iPhoneOS, Android.", "required": false, "schema": {"format": "string[]"}}, {"name": "request_headers_names[0]", "in": "query", "description": "Names for headers you'll want to set on your upload request. May be left blank.", "required": false, "schema": {"format": "string[]"}}, {"name": "request_headers_values[0]", "in": "query", "description": "Values for headers you'll want to set on your upload request. The number of names must equal the number of values.", "required": false, "schema": {"format": "string[]"}}, {"name": "upload_batch_id", "in": "query", "description": "ID of this batch returned by prior BeginAppUploadBatch call.", "required": false, "schema": {"format": "uint64"}}], "description": "Begins the process of uploading a file to Steam external storage services. File should be uploaded via HTTP PUT to the returned URL, after which the upload must be finalized by a call to CommitHTTPUpload.", "tags": ["ICloudService"]}}, "/ICloudService/BeginUGCUpload/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "App ID this UGC belongs to.", "required": false, "schema": {"format": "uint32"}}, {"name": "file_size", "in": "query", "description": "File size in bytes.", "required": false, "schema": {"format": "uint32"}}, {"name": "filename", "in": "query", "description": "Name of the file.", "required": false, "schema": {"format": "string"}}, {"name": "file_sha", "in": "query", "description": "Hex string (40 digits) representing the SHA1 digest of the file.", "required": false, "schema": {"format": "string"}}, {"name": "content_type", "in": "query", "description": "MIME content type of the file", "required": false, "schema": {"format": "string"}}], "description": "Begins the process of uploading a file to Steam external storage services. File should be uploaded via HTTP PUT to the returned URL, after which the upload must be finalized by a call to CommitHTTPUpload.", "tags": ["ICloudService"]}}, "/ICloudService/CommitHTTPUpload/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "transfer_succeeded", "in": "query", "description": "True if the HTTP PUT to the upload URL succeeded (URL provided in response to Cloud.BeginHTTPUpload), false if a failure occurred.", "required": false, "schema": {"format": "bool"}}, {"name": "appid", "in": "query", "description": "App ID for which the file is being uploaded. Must match the app ID provided to Cloud.BeginHTTPUpload.", "required": false, "schema": {"format": "uint32"}}, {"name": "file_sha", "in": "query", "description": "Hex string (40 digits) representing the SHA1 digest of the file. Must match the SHA1 digest provided to Cloud.BeginHTTPUpload.", "required": false, "schema": {"format": "string"}}, {"name": "filename", "in": "query", "description": "Filename as specified in the Cloud.BeginHTTPUpload request.", "required": false, "schema": {"format": "string"}}], "description": "Commits a file upload initiated by BeginHTTPUpload and transferred via HTTP PUT.", "tags": ["ICloudService"]}}, "/ICloudService/CommitUGCUpload/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "transfer_succeeded", "in": "query", "description": "True if the HTTP PUT to the upload URL succeeded (URL provided in response to Cloud.BeginUGCUpload), false if a failure occurred.", "required": false, "schema": {"format": "bool"}}, {"name": "appid", "in": "query", "description": "App ID for which the file is being uploaded. Must match the app ID provided to Cloud.BeginUGCUpload.", "required": false, "schema": {"format": "uint32"}}, {"name": "ugcid", "in": "query", "description": "UGC ID of the uploaded file.", "required": false, "schema": {"format": "fixed64"}}], "description": "Commits a file upload initiated by BeginUGCUpload and transferred via HTTP PUT.", "tags": ["ICloudService"]}}, "/ICloudService/CompleteAppUploadBatch/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "App ID for this batch is for.", "required": false, "schema": {"format": "uint32"}}, {"name": "batch_id", "in": "query", "description": "ID of this batch.", "required": false, "schema": {"format": "uint64"}}, {"name": "batch_eresult", "in": "query", "description": "result of this batch.", "required": false, "schema": {"format": "uint32"}}], "description": "Indicate that the batch is complete or being stopped for some other reason.", "tags": ["ICloudService"]}}, "/ICloudService/CompleteAppUploadBatchBlocking/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "App ID for this batch is for.", "required": false, "schema": {"format": "uint32"}}, {"name": "batch_id", "in": "query", "description": "ID of this batch.", "required": false, "schema": {"format": "uint64"}}, {"name": "batch_eresult", "in": "query", "description": "result of this batch.", "required": false, "schema": {"format": "uint32"}}], "description": "Indicate that the batch is complete or being stopped for some other reason.", "tags": ["ICloudService"]}}, "/ICloudService/Delete/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "filename", "in": "query", "description": "", "required": false, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "App ID the file belongs to.", "required": false, "schema": {"format": "uint32"}}, {"name": "upload_batch_id", "in": "query", "description": "ID of this batch returned by prior BeginAppUploadBatch call.", "required": false, "schema": {"format": "uint64"}}], "description": "Deletes a file from the user's cloud.", "tags": ["ICloudService"]}}, "/ICloudService/EnumerateUserFiles/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "App ID to enumerate the files of.", "required": false, "schema": {"format": "uint32"}}, {"name": "extended_details", "in": "query", "description": "Get extended details back on the files found. Defaults to only returned the app Id and UGC Id of the files found.", "required": false, "schema": {"format": "bool"}}, {"name": "count", "in": "query", "description": "Maximum number of results to return on this call. Defaults to a maximum of 500 files returned.", "required": false, "schema": {"format": "uint32"}}, {"name": "start_index", "in": "query", "description": "Starting index to begin enumeration at. Defaults to the beginning of the list.", "required": false, "schema": {"format": "uint32"}}, {"name": "access_token", "in": "query", "description": "OAuth access token for the user", "required": true, "schema": {"format": "string"}}], "description": "Enumerates Cloud files for a user of a given app ID. Returns up to 500 files at a time.", "tags": ["ICloudService"]}}, "/ICloudService/GetFileDetails/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "ugcid", "in": "query", "description": "ID of the Cloud file to get details for.", "required": false, "schema": {"format": "uint64"}}, {"name": "appid", "in": "query", "description": "App ID the file belongs to.", "required": false, "schema": {"format": "uint32"}}], "description": "Returns details on a Cloud file.", "tags": ["ICloudService"]}}, "/ICloudService/GetUploadServerInfo/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "App ID to which a file will be uploaded to.", "required": false, "schema": {"format": "uint32"}}], "description": "Returns the URL of the proper cloud server for a user.", "tags": ["ICloudService"]}}, "/ICommunityService/GetApps/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appids[0]", "in": "query", "description": "", "required": false, "schema": {"format": "int32[]"}}, {"name": "language", "in": "query", "description": "", "required": false, "schema": {"format": "ELanguage"}}], "description": "Описание не приведено", "tags": ["ICommunityService"]}}, "/ICommunityService/GetAvatarHistory/v1": {"post": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "steamid", "in": "query", "description": "", "required": false, "schema": {"format": "fixed64"}}, {"name": "filter_user_uploaded_only", "in": "query", "description": "", "required": false, "schema": {"format": "bool"}}], "description": "Описание не приведено", "tags": ["ICommunityService"]}}, "/ICommunityService/GetBestEventsForUser/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "include_steam_blog", "in": "query", "description": "", "required": false, "schema": {"format": "bool"}}, {"name": "filter_to_played_within_days", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "include_only_game_updates", "in": "query", "description": "", "required": false, "schema": {"format": "bool"}}], "description": "Описание не приведено", "tags": ["ICommunityService"]}}, "/ICommunityService/GetClanAnnouncements/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [], "description": "Описание не приведено", "tags": ["ICommunityService"]}}, "/ICommunityService/GetUserPartnerEventNews/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "count", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "offset", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "rtime32_start_time", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "rtime32_end_time", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "language_preference[0]", "in": "query", "description": "", "required": false, "schema": {"format": "uint32[]"}}, {"name": "filter_event_type[0]", "in": "query", "description": "", "required": false, "schema": {"format": "int32[]"}}, {"name": "filter_to_appid", "in": "query", "description": "", "required": false, "schema": {"format": "bool"}}, {"name": "app_list", "in": "query", "description": "", "required": false, "schema": {"format": "CAppPriority"}}, {"name": "count_after", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}, {"name": "count_before", "in": "query", "description": "", "required": false, "schema": {"format": "uint32"}}], "description": "Описание не приведено", "tags": ["ICommunityService"]}}, "/IContentFilteringService/FilterStrings/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "appid", "in": "query", "description": "AppID that is asking to having filtering performed.", "required": true, "schema": {"format": "int32"}}, {"name": "language", "in": "query", "description": "In which language should filtering be performed. If empty, no profanity filtering will be performed.", "required": true, "schema": {"format": "string"}}, {"name": "legal_filtering_country", "in": "query", "description": "If set to an ISO 3166-1 Alpha-2 country code that requires legal filtering, that legal filtering will be performed.", "required": true, "schema": {"format": "string"}}, {"name": "raw_strings", "in": "query", "description": "The list of strings to be filtered.", "required": true, "schema": {"format": "string"}}, {"name": "is_name", "in": "query", "description": "True if the strings are names instead of chat text", "required": true, "schema": {"format": "bool"}}, {"name": "steamid", "in": "query", "description": "The SteamID of the person viewing the text", "required": true, "schema": {"format": "uint64"}}], "description": "Filter a list of strings in the requested language with rules that match the client.", "tags": ["IContentFilteringService"]}}, "/IContentServerConfigService/GetSteamCacheNodeParams/v1": {"get": {"responses": {"200": {"description": "Успешно"}, "400": {"description": "Некорректные данные или переданы не все поля"}, "403": {"description": "Невалидный API ключ"}}, "parameters": [{"name": "key", "in": "query", "description": "Access key", "required": true, "schema": {"format": "string"}}, {"name": "cache_id", "in": "query", "description": "Unique ID number", "required": true, "schema": {"format": "uint32"}}, {"name": "cache_key", "in": "query", "description": "Valid current cache API key", "required": true, "schema": {"format": "string"}}], "description": "Ge
[...]
